@model IEnumerable<Product>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="product-item">
        <div class="product-title">
            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
        </div>
        <div class="product-image">
            @await Component.InvokeAsync("ProductIndexPhoto", new { id = item.Id })
            <div class="product-action">
                <a><i class="fa fa-eye"></i> @item.Hit.Value.ToString()</a>
                <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"><i class="fa fa-info"></i></a>
            </div>
        </div>
        <div class="product-price">
            <h6><span>$</span>@item.Price.ToString()</h6>
            @if (item.IsSpecialOffer)
            {
                <a asp-controller="Product" asp-action="SpecialOffer">
                    <p class="span span-badge">Special Offer</p>
                </a>
            }
            else
            {
                <a asp-controller="" asp-action="">
                    <p class="span span-badge">Not Special Offer</p>
                </a>
            }
            <a class="btn btn-xs" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i>View Detail</a>
        </div>
        @await Component.InvokeAsync("ProductHit", new { id = item.Id })
    </div>
}