@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model IPagedList<Ad>
@{
    ViewData["Title"] = "Ad Manage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list shadow-reset">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="breadcome-heading">
                                <a asp-controller="Ad" asp-action="Create" class="btn btn-custon-four btn-primary">+ Add New Ad</a> - <a asp-controller="Ad" asp-action="kurtulusocL" class="btn btn-custon-four btn-default">Active Ad</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="breadcome-menu">
                                <li>
                                    <a asp-controller="Admin" asp-action="Index" class="btn btn-custon-four btn-default">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li>
                                    <span class="bread-blod">@ViewData["Title"]</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="admin-dashone-data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>@ViewData["Title"]</h1>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-search="true" data-show-columns="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="Image">Image</th>
                                        <th data-field="Company Name">Company Name</th>
                                        <th data-field="Delete At">Delete At</th>
                                        <th data-field="Website">Website</th>
                                        <th data-field="Hit">Hit</th>
                                        <th data-field="Added Date">Added Date</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img src="~/img/dinamic/ad/@item.Photo" alt="@item.Photo" title="@item.CompanyName" style="max-height:120px;max-width:120px;min-height:120px;min-width:120px" class="img-circle" />
                                            </td>
                                            <td>@item.CompanyName</td>
                                            <td>@item.DeleteDate.ToShortDateString()</td>
                                            <td>
                                                <a href="@item.Website" class="btn btn-default btn-xs" target="_blank">Website</a>
                                            </td>
                                            <td>@item.Hit.Value.ToString()</td>
                                            <td>@item.CreatedDate.ToShortDateString()</td>
                                            <td>
                                                @if (item.IsConfirmed == true)
                                                {
                                                    <a asp-controller="Ad" asp-action="DeActive" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="fa fa-level-down"></i> </a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="Ad" asp-action="Active" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="fa fa-upload"></i></a>
                                                }
                                                @if (item.IsDeleted == true)
                                                {
                                                    <a asp-controller="Ad" asp-action="NotDeleted" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="fa fa-forward"></i></a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="Ad" asp-action="Deleted" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="fa fa-remove"></i></a>
                                                }
                                            </td>
                                            <td>
                                                <a asp-controller="Ad" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info btn-xs"><i class="fa fa-book"></i></a> |
                                                <a asp-controller="Ad" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></a> |
                                                <a asp-controller="Ad" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <div class="pagination-info">
                        @Html.PagedListPager(Model, page => Url.Action("AdManage", new { page }), PagedListRenderOptionsBase.ClassicPlusFirstAndLast)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>