@using ShowProduct.Core.CrossCuttingConcert.Toolbox
@using System.Web
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Web.Common
@model IPagedList<SendMail>
@{
    ViewData["Title"] = "Sent Mail Manager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list shadow-reset">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="breadcome-heading">
                                <a asp-controller="SendMail" asp-action="Create" class="btn btn-custon-four btn-primary">+ Send New E-Mail</a> - <a asp-controller="SendMail" asp-action="kurtulusocL" class="btn btn-custon-four btn-default">Active E-Mail List</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="breadcome-menu">
                                <li>
                                    <a asp-controller="Admin" asp-action="Index" class="btn btn-custon-four btn-default">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li>
                                    <span class="bread-blod">@ViewData["Title"]</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="admin-dashone-data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>@ViewData["Title"]</h1>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <table id="table" data-toggle="table" data-search="true" data-show-columns="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="Reciever E-Mail">Reciever E-Mail</th>
                                        <th data-field="Sender E-Mail">Sender E-Mail</th>
                                        <th data-field="Mail Subjext">Mail Subject</th>
                                        <th data-field="Added Date">Added Date</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.RecieverEMail</td>
                                            <td>@item.SenderEMail</td>
                                            <td>
                                                @if (item.Subject.Length > 75)
                                                {
                                                    @Html.Raw(HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Subject, 75) + " ..."))
                                                }
                                                else
                                                {
                                                    @Html.Raw(HttpUtility.HtmlDecode(ReadMore.SafeSubstring(item.Subject, 75)))
                                                }
                                            </td>
                                            <td>@item.CreatedDate.ToShortDateString()</td>
                                            <td>
                                                @if (item.IsConfirmed == true)
                                                {
                                                    <a asp-controller="SendMail" asp-action="DeActive" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="fa fa-level-down"></i> </a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="SendMail" asp-action="Active" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="fa fa-upload"></i></a>
                                                }
                                                @if (item.IsDeleted == true)
                                                {
                                                    <a asp-controller="SendMail" asp-action="NotDeleted" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="fa fa-forward"></i></a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="SendMail" asp-action="Deleted" asp-route-id="@item.Id" class="btn btn-warning btn-xs"><i class="fa fa-remove"></i></a>
                                                }
                                            </td>
                                            <td>
                                                <a asp-controller="SendMail" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info btn-xs"><i class="fa fa-book"></i></a> |
                                                <a asp-controller="SendMail" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <div class="pagination-info">
                        @Html.PagedListPager(Model, page => Url.Action("MailManage", new { page }), PagedListRenderOptionsBase.ClassicPlusFirstAndLast)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>